
<%- include('header.ejs') %>

<main>
  <h1>Admin Page</h1>
  <p>Welcome <%= user.username %>! | <a href="/auth/logout/">Logout</a></p>
  <% if(article._id){ %>
    <h5 class="d-flex justify-content-end" style="margin-top: -30px;">Edit Article</h5>
  <% } else { %>
    <h5 class="d-flex justify-content-end" style="margin-top: -30px;">Add New Article</h5>
  <% } %>
  <hr>
  <div class="d-flex justify-content-center">
    <form action="<%- article._id ? '/admin/edit/' + article._id : '/admin/add/' %>" class="w-50" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Article title..." name="title" value="<%- article.title ? article.title : '' %>">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="description" placeholder="Article description..." name="description" value="<%- article.description ? article.description : '' %>">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="8" name="content" placeholder="Article content..."><%- article.content ? article.content : '' %></textarea>
        </div>
        <div class="form-group text-secondary">
            <label for="image"><i class="far fa-image"></i> &nbsp;Article Image</label>
            <div class="row">
                <% if(article.image){ %>
                    <div class="col">
                        <img src="/images/<%= article.image %>" style="height: 30px;" />
                    </div>
                <% } %>
                <div class="col">
                    <input class="form-control" id="image" type="file" name="image"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Save</button>
    </form>
  </div>
</main>
    
<%- include('footer.ejs') %>
